

@font-face{
    font-family: DomaineDisp-Regular;
    src: url(./fonts/DomaineDisp-Regular.otf);
}
@font-face{
    font-family: DomaineDisp-Semibold;
    src: url(./fonts/DomaineDisp-Semibold.otf);
}
@font-face{
    font-family: Pangram-Regular;
    src: url(./fonts/Pangram-Regular.otf);
}
@font-face{
    font-family: Pangram-Bold;
    src: url(./fonts/Pangram-Bold.otf);
}
section{padding: 2em 0;}
main{padding-top:75px ;}
.h-645{height: 645px;}
.mb-28{margin-bottom: -28px;}
/* background */
.back-gry{background-color: #e6e5e5;}
.bg-black{background-color: #141516;}
/* button */
.btn.focus, .btn:focus{box-shadow: none;}
.btn{font-family: Pangram-Regular; text-transform: uppercase; border-radius: 0;}
.btn-learn{ background: linear-gradient(to right,rgba(80, 164, 208, 1) 50% ,rgba(0, 0, 0) 50%);border-radius: 0; border: 5px; transition: all 1s linear;}
.btn-learn:hover{background: linear-gradient(to right,rgba(80, 164, 208, 1) 50% ,rgba(80, 164, 208, 1) 50%);}
.btn-learn a{color: white; text-transform: uppercase;font-family: Pangram-Regular;}
.btn-blue{background-color: rgba(80, 164, 208, 1);color: white;}
.btn-outline{border: 1px solid white; border-radius: 5px; color: white; font-size: 14px;}
.btn-outline:hover{background-color: white;}
.btn-white{background-color: white; color: #50a4d0;}
textarea {resize: none;}
/* header */
.top-menu { background-color: #e6e5e5;    padding: 0 4em;}
.vertical-bottom {border-left: 5px solid rgba(80, 164, 208, 0.44); height: 0px; position: absolute; left: 50%; bottom: 0;transition: all .5s linear;}
.vertical-top { border-left: 5px solid rgba(80, 164, 208, 0.44); height: 0px; position: absolute; left: 50%; top: 0;transition: all .5s linear;
}
.horizontal-wrapper{width: 100px;}
.horizontal-line{border-top: 1px solid #50a4d0 ;position: absolute;top: 50%;width: 100%;}
.top-menu .nav-item:hover .vertical-bottom,
.top-menu .nav-item:hover .vertical-top {  height: 20px;}
.top-menu .nav-item:active .vertical-bottom { height: 20px;}
#top-menu .navbar-nav li.active>.vertical-bottom,
#top-menu .navbar-nav li.active>.vertical-top { height: 20px;}

.top-menu .nav-item { position: relative;}
.top-menu .nav-link {display: block; padding: 1.5rem 1.3rem!important;color: #000 !important; font-family: Pangram-Regular;text-transform: capitalize;    font-size: 1.2em;}
.top-menu .nav-link:hover{color: #50a4d0 !important;transition: all .7s linear;}
#top-menu .navbar-nav li.active > .nav-link{color: #50a4d0 !important;}

/* slider */
.main-sldr .carousel-indicators{margin: 0; right: unset;background-color: #ffffff;    padding: 1em;}
.main-sldr .carousel-indicators li{text-indent: unset; opacity: 1; color: black; width: auto;height: auto;margin: 0 1em;}
.main-sldr .carousel-indicators li p{font-family: DomaineDisp-Regular; font-size: 16px;}
.main-sldr .carousel-indicators li p span{margin-right: 12px;padding: 8px 14px; border: 1px solid black;border-radius: 50px;transition: all .7s linear;}
.main-sldr .carousel-indicators .active{border-bottom: 1px solid #50a4d0;}
.main-sldr .carousel-indicators .active>p span{  border-color:  #50a4d0;   color: #50a4d0;}
.main-sldr .carousel-item{position: relative;height: 800px;}
.slide-overlay{position: absolute;top: 30%;left: 10%;width: 28%;}
.slide-overlay p{color: white;font-family: Pangram-Regular;font-size: 1.2em; text-transform: capitalize;}
.slide-overlay h2{color: white;font-family: DomaineDisp-Semibold; text-transform: capitalize;    margin: 1em 0;}
.vertical-line {width:2px; height:130px; background-color:  #50a4d0; margin: auto;}
.verical-text{writing-mode: vertical-lr; text-orientation: mixed; text-align: center;font-family: Pangram-Regular;color: black;}

/* welcome-section */
.welcome-wrapper{padding: 5em;max-width: 72%;background-color: #e6e5e5;position: relative;}
.welcome-wrapper h6{font-family: Pangram-Regular;color: #9b9b9b; text-transform: capitalize;}
.welcome-wrapper h1{font-family: DomaineDisp-Regular;color: #2a2a2a; text-transform: capitalize;margin: 1em 0;}
.welcome-wrapper p{color: #2a2a2a;font-family: Pangram-Regular;padding-right: 4em;line-height: 2;}
.welcome-img-wrapper{position: absolute;top: 25px; right: 0;}
.welcome-img-wrapper img{width: 100%; height: 630px;}

/* how it works */
.works_wrappper{position: relative;}
.grey_bg{padding: 10em 7em;width: 51%;position: absolute;left: 0;color: black;top: 790px;}
.black_bg{padding: 10em 0;width: 51%;position: absolute;right: 0;color: white;top: 200px;padding-left: 13em; padding-right: 7em;}
.black_bg p{font-family: Pangram-Regular;padding: 2em 0;line-height: 2.2; font-size: 18px;}
.black_bg h2{font-family: DomaineDisp-Regular; font-size: 45px;}
.grey_bg p{font-family: Pangram-Regular;padding: 1em 0; font-size: 18px;}
.grey_bg h2{font-family: DomaineDisp-Regular; font-size: 45px;}
.works_img {background-image: url(../images/howitworks.png); background-repeat: no-repeat; background-size: 100% 100%;height: 1800px; position: relative;}
.step-1 span, .step-2 span, .step-3 span{font-family: Pangram-Regular; font-size: 20px; padding-left: 1.5em;}
.step-1 img, .step-2 img, .step-3 img{width: 150px;}
.step-2{margin-left: 6em; padding: 4em 0;}
.step-3{margin-left: 12em;}

/* video-section */

.mt-115{margin-top: -115px;}
.video_section{padding: 5em;}
.video_section h2{font-family: DomaineDisp-Regular; font-size: 45px;}
.video_section  p{font-family: Pangram-Regular;padding: 1em 0; font-size: 16px;}
.video_section  a{font-family: Pangram-Regular;color: black;}
.video_img{text-align: center;}
.video_img p{font-family: Pangram-Regular;color: #727272;text-transform: capitalize;font-size: 16px;padding: 1em 0;}
.video_img p span{color: #50a4d0;}

/* project counter */
.counter{margin: 2em 0;}
.count-title {text-align: center;color: #50a4d0;font-family: DomaineDisp-Semibold;    margin-bottom: .6em;}
.count-title:after{content: " + ";font-family: DomaineDisp-Semibold;}
.count-text {font-size: 16px;font-weight: normal;margin-top: 10px;margin-bottom: 0; text-align: center;font-family: Pangram-Regular;color: white;    margin-top: 1em;}
.counter-border{height: 1px; background-color: white;width: 140px;margin: auto;}

/* cyberexposure */
.main_title h6{font-family: Pangram-Regular; color: #9b9b9b;text-transform: capitalize; margin: 0;}
.main_title  h1 {font-family: DomaineDisp-Regular; color: #2a2a2a;text-transform: capitalize;margin: .5em 0;}
.title-border{height: 2px; background-color: #50a4d0;width: 400px;}
.para-text{max-width: 40%; margin:1em auto;text-align: center;font-family: Pangram-Regular;}
.para-text1{max-width: 90%; margin:1em auto;text-align: center;font-family: Pangram-Regular;}
.title-border-vertical{height: 40px; background-color: #50a4d0;width: 2px;}
.custom-card {text-align: center; color: black; border-radius: 0;}
.custom-card h5{font-family: Pangram-Bold;}
.custom-card p{font-family: Pangram-Regular;}
.custom-card:hover{background-color: #50a4d0; color: white;transition: all .5s linear;}
.box-wrapper{  height: 230px;background-color: white; box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);padding: 1em; text-align: center;}
.box-wrapper p{font-family: Pangram-Regular; font-size: 12px;}
.box-border{height: 2px; background-color: #50a4d0;width: 40px; margin:9px auto;}
.process-box{background-color: #f9f9f9; padding: .7em 1em; box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);}
.process-box span{font-family: Pangram-Bold; color: #50a4d0;}

/* product-pge */
.product-card{border: none; border-radius: 0; background-color: #f4f4f4; text-align: center;}
.product-card .card-title{font-family: Pangram-Bold;}
.product-card .card-text{font-family: Pangram-Regular;}
.product-img{position: relative;}
.product-img-overlay{position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(80, 164, 208, 0.7);    height: 0; transition: .5s ease; width: 100%;}
.product-img-overlay a{color: white; text-transform: capitalize; font-family: Pangram-Regular;position: absolute; top: 50%;  left: 50%;
  -webkit-transform: translate(-50%, -80%); -ms-transform: translate(-50%, -80%); transform: translate(-50%, -80%); text-align: center;}
.product-img:hover .product-img-overlay{height: 100%;}

/* contact-page */
.contact_text h5{font-family: DomaineDisp-Regular;}
.contact_text p {font-family: Pangram-Regular;}
.divider{height: 100px; width: 2px; margin: auto;background-color: #50a4d0;}
.clip_img{text-align: end;}
.clip_img img{clip-path: polygon(0 0, 100% 0%, 100% 100%, 22% 100%); max-width: 65%;}
.contact_form{float: left;padding-top: 7em;padding-left: 7em; width: 35%;}
.contact_form h3{ font-family: DomaineDisp-Regular; text-transform: capitalize;}
.contact_form .form-control{background-color: transparent; border-radius: 0; border: none; border-bottom: 1px solid black;}
.contact_form form{margin-top: 3em;}
.form-control:focus{box-shadow: none;}

/* solution page */
.bg-gry{background-color: #ecf0f1;}
.solution_wrapper1{position: relative;}
.solution_wrapper1 img{border: 9px solid white;border-radius: 5px;box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);}
.solution_wrapoverlay{background-color: white; position: absolute;border-radius: 5px;box-shadow: 0 0.125rem 0.25rem rgba(0,0,0,.075);    top: 10%;  right: 12%; max-width: 630px; padding: 2em 12em 2em 2em;}
.solution_wrapoverlay .title h2{font-family: DomaineDisp-Regular; color: #2a2a2a;  text-transform: capitalize; margin: .5em 0;;}
.solution_wrapoverlay .title h5{font-family: DomaineDisp-Regular; color: #2a2a2a;  text-transform: capitalize; margin: 1.5em 0;;}
.solution_wrapoverlay .title p{font-family: Pangram-Regular; margin: 1.5em 0;}
.solution_wrapper2 h1{font-family: DomaineDisp-Regular; color: #2a2a2a;  text-transform: capitalize; margin: .5em 0;text-align: center;}
.solution_wrapper2 p{font-family: Pangram-Regular;color: #2a2a2a;text-align: center;}
.solution_wrapper3 {background-image: url(../images/solution-bg1.png);height: auto; position: relative;  background-attachment: fixed;
    background-position: center; background-repeat: no-repeat; background-size: cover;}
.title-left{color: white;font-family: DomaineDisp-Regular; text-transform: capitalize; margin: .5em 0;padding-top: 90px;}
.title-left p{font-family: Pangram-Regular;}
.bg-blue{background-color: #50a4d0; padding: 2.5em 0;}
.title-right{padding-top: 90px;padding-left: 5%; position:  relative;text-align: center;}
.solution-slide{    position: absolute; left: 0; right: 0; bottom: -30px;}
.solution-slide .carousel-control-next, .solution-slide .carousel-control-prev{color: #000; opacity: 1;bottom:-20px; top: unset;}
.solution-slide .fas{background-color: white; padding: .9em .7em;}
.solution-slide .carousel-control-prev{left: 39.5%;}
.solution-slide .carousel-control-next{right: 39.5%;}
.solution-slide .carousel-item img{width: 290px; height: 317px;}
.solution_wrapper4 {background:linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../images/solution-bg2.png);height: auto; position: relative;  background-attachment: fixed;
    background-position: center; background-repeat: no-repeat; background-size: cover;}
.solution-card{background-color: rgba(80, 164, 208, 0.8); color: white;margin: 2.5em;}
.solution-card .card-title{font-family: DomaineDisp-Regular; text-transform: capitalize; margin: .5em 0;}
.solution-card .card-text{font-family: Pangram-Regular;    margin: 1.5em 0}
.solution-card .card-link{font-family: Pangram-Regular; color: white;text-transform: uppercase;    font-size: 18px;border-bottom: 2px solid white;}
.custom-list{list-style: none;font-family: Pangram-Regular;}
.custom-list li::before {font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f111";color: #50a4d0;font-size: 9px; display: inline-block; width: 2em;margin-left: -2em}
.compare-card{background-color: #fbf9f9; }
.compare-card p{font-family: Pangram-Regular;color: #50a4d0;padding:.6em 0; text-align: center; text-transform: uppercase;margin-bottom: 0;}
.compliance-card{border: none; border-radius: 0;}
.compliance-card .card-header{background-color: #5a5a5a;    border: none;}
.compliance-card .card-header h3{font-family: Pangram-Regular;text-align: center; color: white;}
.compliance-card .card-header h3 span{font-size: 12px ;}
.compliance-card .card-body{text-align: center; padding: 1.2em 0;}
.compliance-card .card-body .fas{color: #2ea304;font-size: 2em;}
.compliance-card .list-group-item{padding: 0.5em;}
.btn-gry{ background-color: #f4f4f4;color: #5a5a5a;text-transform: capitalize; border-radius: 22px; position: absolute; z-index: 1; left: 28%; font-size: 14px;}

/* services */
.service-overlay{position: absolute;top: 0; bottom: 0; right: 0 ; left: 0;background-color: rgba(0, 0, 0, 0.4); color: white;font-family: Pangram-Regular;}
.service-overlay h1{font-family: DomaineDisp-Regular; text-align: center;margin-top: 12%;text-transform: capitalize;}
.service-text{font-family: Pangram-Regular; padding: 2em 0;}
.service-text p{padding: 2em 0;}

/* product-details page */
.product-text{font-family: Pangram-Regular;    padding: 2em 0;}
.productdetail-bg{background-image: url(../images/product-bg1.png);height: auto; position: relative;  background-attachment: fixed; background-position: center; background-repeat: no-repeat; background-size: cover;}

/* patner */
.patner-title h1{font-family: DomaineDisp-Regular;}
.patnerbg{background: #f9f9f9;height: 500px;padding: 2em;}
.patnerbg p{font-family: Pangram-Regular;     max-width: 70%;text-align: justify; float: right;}
.patner-wrapper{font-family: Pangram-Regular; text-align: center;}
.patner-wrapper h1{text-transform: uppercase; color: #e50025;margin-bottom: 0;}
.patner-wrapper p{color: white; margin: 2em 0;}
.patnerbg1{background: #f9f9f9;font-family: Pangram-Regular;padding: 2em;}
.patnerbg1 p{max-width: 75%;}
.patner-txt{font-family: Pangram-Regular; margin: auto; text-align: center;padding: 1.5em; font-size: 1.2em;}

/* patner reseller */
.reseller-title{font-family: DomaineDisp-Regular; text-align: center; margin: 1em 0; text-transform: capitalize;}
.reseller-section{background: #f9f9f9;}
.reseller-box{width: 100%; height: 210px; background-color: white; text-align: center;padding-top: 80px;float: left; margin: 0.5em;}
.reseller-box img{ }
.custom-pagination{    overflow-x: auto;}
.custom-pagination .page-link{color: #50a4d0;}
.finder-form{background-color: #50a4d0; padding: 1.5em;    margin: 1em auto;max-width: 70%;}
.finder-form .form-control{background-color: transparent; border: none; border-radius: 0; border-bottom: 1px solid white; margin: 0 1em;}
.finder-form .dropdown-toggle::after{margin-left: 80px;font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f078"; border: none;    border: 1px solid white;border-radius: 50px; padding: 1px 6px;}
.btn-find {color: white; text-transform: capitalize; border-bottom: 1px solid white;padding-left: 0;padding-right: 0;}
.white-btn{color: white;    float: right;    text-align: end;    font-size: 2em;    margin-left: auto;}

/* product-information */
.product-info{max-width: 70%;    margin: 1em auto;position: relative;}
.product-info .left{ width:50%; text-align: left; float: left;}
.product-info .right{width: 35%; float: right;position: absolute; right: 0;top:120px;z-index: 1;}
.product-info .right h1{color: #50a4d0;font-family: DomaineDisp-Regular; padding-left: .5em;}
.product-info .right p{background-color: white; border-radius: 5px;box-shadow: 0 0.11rem 0.11rem rgba(0,0,0,.05);padding: 1.5em;}
.product-info p{font-family: Pangram-Regular;}
.patner-info1{background-color: #50a4d0;border-radius: 0 20px 20px 0; padding: 2em;}
.info{max-width: 70%; float: right;}
.patner-info1 p{color: white; font-family: Pangram-Regular;}
.patner-info1 h1{color: white; text-transform: capitalize; font-family: DomaineDisp-Regular; }

/* patner-technology */
.patner-tehnobg{background-color: #f9f9f9;}
.patner-title{color: #50a4d0; text-align: center;font-family: DomaineDisp-Regular;}
.techno-box{background-color: #50a4d0; font-family: Pangram-Regular; border-radius: 5px;width: 300px; color: white; text-align: center;
    padding: 2em 1em;    margin: 2em auto;}
.techno-text h1{font-family: DomaineDisp-Regular; margin: .9em 0;}
.techno-text p{font-family: Pangram-Regular; color: #2a2a2a;}
.patner-box-grey{box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); width: 100%;height: 210px;background-color: #f4f4f4;text-align: center;
    padding-top: 80px;margin: 0.5em;}
.patner-box-text h4{font-family: DomaineDisp-Regular; margin: .9em 0; color: #50a4d0;}
.patner-box-text p{font-family: Pangram-Regular;}
.patner-box-white{box-shadow: 0 .125rem .25rem rgba(0,0,0,.075); width: 100%;height: 210px;background-color: #fff;text-align: center;
    padding-top: 80px;margin: 0.5em;}
.patner-box-bg{background-color: #f4f4f4;}

/* company */
.company-wrap1{padding: 3em; }
.company-wrap1 h6{font-family: Pangram-Regular;}
.company-wrap1 h1{font-family: DomaineDisp-Regular;}
.company-wrap1 p{font-family: Pangram-Regular;color: #2a2a2a;}
.company-slider{   text-align: center; margin-top: -760px;position: relative;}
.company-slider .carousel-control-next, .company-slider .carousel-control-prev{color: #000; opacity: 1; top: 45.1%;align-items: left; justify-content: left;}
.company-slider .fas{background-color: white; padding: 2em .7em;}
.company-slider .fas.fa-arrow-left{color: black; background-color: #50a4d0;}
.company-slider .carousel-control-prev{left: -4%;}
.company-slider .carousel-control-next{left: 0;}

/* #company_slider{height: 380px;} */
.company-bg{background-color: #50a4d0; height: 600px ; margin-top: -450px;} 
.team-box{background-color: white; color: black; padding: 2em; transition: all 0.5s linear;margin: 0.5em;}
.team-box:hover{background-color: #50a4d0; color: white;}
.team-box:hover .team-text p, .team-box:hover .team-text .fab{color: white;}
.team-img{height: 120px; width: 120px;background-color: #f9f9f9;display: inline-block;}
.backg{background-color: #f9f9f9;}
.team-text{display: inline-block; font-family: Pangram-Regular;padding-left: 1em;vertical-align: middle;}
.team-text h6{text-transform: capitalize;}
.team-text p{color: #666666;}
.team-text .fab{color: black; padding-right: 5px;}
.company-card{border: none; border-radius: 0;text-align: center;}
.company-card .card-title{text-transform: uppercase; font-family: DomaineDisp-Regular; margin: 0.7em 0;}
.company-card .card-text{font-family: Pangram-Regular;color: #2a2a2a;}
.company-border{height: 2px; background: #50a4d0; width: 100px; margin: 1em auto;}
.company-think{background-image: url(../images/company-bg1.png); background-repeat: no-repeat; background-size: cover;height: 600px; }
.think-slide .carousel-indicators{display: block; left: unset; color: white;margin-right: 6%;margin-left: unset;top:80px;}
.think-slide .carousel-indicators li{ text-indent: unset;opacity: 1;  color: black;  width: auto; height: auto; margin: 0 1em;background-color: transparent; color: white;opacity: 0.5; font-size: 4em;}
.think-slide .carousel-indicators .active{opacity: 1; }
.think-slide .carousel-control-prev{right: 0; height: 74px;  right: 77px;  background-image: url(../images/prev.png);  background-repeat: no-repeat;  background-position: center;left: unset;}
.think-slide .carousel-control-next{  top: unset; right: 77px;background-image: url(../images/next.png);  background-repeat: no-repeat;  background-position: center;height: 50px; bottom: -200px;}
.think-slide .carousel-item p{color: white;font-family: Pangram-Regular;   max-width: 40%; text-align: left;}
.think-slide .carousel-item{padding-left: 5em; padding-top: 3em;}
.think-slide .carousel-item h1{color: white; text-transform: capitalize; font-family: DomaineDisp-Regular;}


/* company-award */
.award-card{text-align: center;border: 0;font-family: Pangram-Regular;margin: 0.7em;}
.award-card img{ text-align: center;background-color: white; padding: 2em;box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);}
.award-card .card-body{background-color: #e5e5e5;}

/* company customers */
.mgt-card{border: none;font-family: Pangram-Regular;padding: 1em;}
.mgt-card a{color: #50a4d0; border-bottom: 1px solid #50a4d0;}
.portfolioFilter {padding: 1.5em 0;	text-align: center;  }
  
.portfolioFilter a {	margin-right: 6px;	font-family: DomaineDisp-Regular;	text-transform: uppercase;	color: black;	text-decoration: none;	padding: 4px 15px;	display: inline-block;  }
  
  .portfolioFilter a.current {	border-bottom: 2px solid #50a4d0;  }
  .portfolioContainer{	border: none;    width: 1140px;margin: auto;  }
 
  .isotope-item {	z-index: 2;  }
  
  .isotope-hidden.isotope-item {	pointer-events: none;	z-index: 1;
  }
  
  .isotope,
  .isotope .isotope-item {
	/* change duration value to whatever you like */
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
  }
  
  .isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
  }
  
  .isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
  }
  .webTemplates { width: 33%; padding: 5px;}


/* company career */
.career-bg{background-color: #f6f6f6;}
.career-card{border: 0; border-radius: 0;font-family: Pangram-Regular;padding: 1em; background-color: transparent;}
.career-card .card-body{padding: 0.5em 0;}
.career-card .card-title{    text-decoration: underline; text-transform: capitalize;}
.custom-tabs{background-color: #f6f6f6;}
.custom-tabs  .nav-link{text-transform: capitalize;font-family: Pangram-Regular; color: black;padding: 1em;}
.custom-tabs .nav-link.active, .custom-tabs  .show>.nav-link{background-color: #50a4d0;border-radius: 0;}
.custom-content{padding: 1em 0;}
.tabtitle-border{height: 2px ; background-color: white;width: 300px; margin: 1em 0;} 
.career-img{padding: 1em;}

/* company-financialnews release */
.custom-select{width: 30%; display: inline-block;  border-radius: 0; border: 0;font-family: Pangram-Regular;text-transform: capitalize;background: url(../images/arrow-down.png) no-repeat right .75rem center/17px 10px;background-color: #f6f6f6;}
.financial-card{border: 0; background-color: #f6f6f6;box-shadow: 0 0.11rem 0.11rem rgba(0,0,0,.05); color: #2a2a2a;transition: 0.5s linear;margin: 0.7em;}
.financial-card:hover{background-color: #50a4d0; color: white;}
.financial-card p{font-family: DomaineDisp-Regular;}
.financial-card span{font-family: Pangram-Regular;}

/* company-leadership */
.border-box{position: relative; padding-top: 30px; padding-left: 25px;}
.border-box::before{content: ''; display: block; position: absolute; border-top: 40px solid #50a4d0; border-left: 45px solid #50a4d0; width: 80%;height: 89%; top: -10px;  left: -20px;}

.border-box-right{position: relative; padding-top: 40px; padding-right: 45px;}
.border-box-right::before{content: ''; display: block; position: absolute; border-top: 40px solid #50a4d0; border-right: 45px solid #50a4d0; width: 80%;height: 89%; top: 0px;  right: 0px;}
.leader-text{padding-top: 5%;}
.leader-text h1{font-family: DomaineDisp-Regular;}
.leader-text  span{font-family: Pangram-Regular; color: #2a2a2a;}
.leader-text p{font-family: Pangram-Regular;}

/*company- investor */
.investor-info h6{font-family: Pangram-Regular;}
.investor-info p{font-family: Pangram-Regular;}
.investor-info h1{font-family: DomaineDisp-Regular;margin: 1em 0;}
.invest-bg{

  background:linear-gradient(0deg,rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../images/companyawards-bg.png);
  background-repeat: no-repeat; background-attachment: fixed;position: relative; background-size: cover;
}

.invest-bg-overlaytxt h1{font-family: DomaineDisp-Regular;margin: 1em 0; color: white;font-size: 6em;margin-bottom: 0;}
.invest-border{height: 3px ; background-color: white; width: 75%;}

.invest-info1{background-color: rgba(80, 164, 208, 0.7);border-radius: 20px 0 0 20px; padding: 2em;}
.invest-info1 .info{max-width: 70%; float: right;}
.invest-info1 p{color: white; font-family: Pangram-Regular;}
.invest-info1 h1{color: white; text-transform: capitalize; font-family: DomaineDisp-Regular; }
.pdf-box{background-color: #f9f9f9; padding: 2em; text-align: left;width: 45%; margin: auto;height: 175px;}
.pdf-box img{float: left;padding-right: 30px;}
.pdf-box h4{font-family: DomaineDisp-Regular;}
.pdf-box span{font-family: Pangram-Regular;}
.pdf-btn{padding: 0.5em 1.5em;margin-top: -20px;}

/* company-newsevents */
.search-form{max-width: 20%;margin: auto;}
.search-form .form-control{background-color: transparent; border: 1px solid white; border-radius: 30px; color: white;   padding: 0.375rem 2.75rem;}
.errspan {  float: left; margin-left: 16px; margin-top: -25px; position: relative; z-index: 2; color: white;}
.search-form input::placeholder{color: white;}
.press-card{background-color: #f4f4f4; border: none;text-align: center; margin: 0.5em;}
.press-card .card-title{font-family: DomaineDisp-Regular; text-transform: capitalize;}
.press-card .card-text{font-family: Pangram-Regular;}
.press-img{position: relative;}
.pressimg-overlay{position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(80, 164, 208, 0.5); height: 0;transition: all 0.5s linear;}
.press-img:hover .pressimg-overlay{height: 100%;}

/* company-resource-library */
.libary-back{background-color: #fbf9f9;}
.search-press .form-control{background-color: #50a4d0;border-radius: 0;padding: 0.375rem 2.75rem;text-align: center;color: white;}
.search-press input::placeholder{color: white;}
.press-form{max-width: 100%;justify-content: center;}
.press-form .dropdown-menu{width: -webkit-fill-available;}

/* company-podcast */
.podcast-card{font-family: Pangram-Regular;background-color: #f5f5f5; border: none;margin: 0.5em;transition: 0.3s linear;}
.podcast-card img{height: 100px; width: 100px; border-radius: 5px;}
.podcast-card span{font-size: 12px; color: #2a2a2a;}
.podcast-card p{color: #2a2a2a;}
.podcast-card:hover{background-color: #50a4d0; color: white;}
.podcast-card:hover p{color: white;}
.podcast-card:hover span{color: white;}
.contact_form p{font-family: Pangram-Regular;}
.listen-img img{height: auto ; width: 95px;padding:10px;}
.listen-img span{color: #5a5a5a; font-size: 16px;}


/* footer */
.footer-bg{background-color: #141516; padding-top: 10em;padding-bottom:10px;}
.card-1{background-color: white; padding: 1em; box-shadow: 0 0.11rem 0.11rem rgba(0,0,0,.05);}
.card-inner{background-color: #f9f9f9;    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);text-align: center;padding: 4em; }
.card-inner .far, .card-inner .fas{color: #50a4d0; font-size: 4em; padding-bottom: 20px;}
.card-inner h4{font-family: Pangram-Regular;text-transform: capitalize;}
.footer-title{padding: 0 5em;}
.footer-title p{color: #50a4d0;}
.footer-title h5{font-family: DomaineDisp-Regular; color: white;}
.subscribe_form{padding: 1em 4em; margin-top: 20px;}
.subscribe_form .form-control{background-color: transparent; border-radius: 0;}
.subscribe_form  .input-group-text{border-radius: 0; background-color: white;    border: 5px solid #141516;}
.subscribe_form .input-group-append {margin-left: -69px;}
.footer_bottom {color: white;padding: 0 5em;}
.footer_bottom h5{font-family: DomaineDisp-Regular; margin-bottom: 1.5em; text-transform: capitalize;}
.footer_bottom a{font-family: Pangram-Regular; color: white;padding: .5em 0;text-transform: capitalize;}
.custom-hr{margin-top: 3rem;margin-bottom: 3rem; border-top: 2px solid rgba(255, 255, 255, 0.2);width: 90%;}
.copyright-txt{color: rgba(255, 255, 255, 0.4);font-family: Pangram-Regular;text-align: center;font-size: 12px;margin-bottom: 0;}